{% extends "layouts/base.html" %}
{% block content %}
{% for info in infos %}
<div class="callout callout-suc">
	<h3>{{ info.exit_message_head }}</h3>
	{{ info.exit_message_content|safe }}
</div>
{% endfor %}
{% endblock %}