{% extends "layouts/base.html" %}
{% block content %}
{% for info in infos %}
<div class="callout">
	<h3>{{ info.title}}</h3>
	{{ info.description|safe }}
</div>
{% endfor %}
<div id="vapp" class="form-group">
	{% for question in questions %}
		<question
			type="{{ question.style }}"
			id="{{ question.id }}" 
			text="{{ question.text|safe }}"
		    placeholder="{{ question.placeholder }}"
	   		helper_text="{{ question.helper_text|safe }}"
			v-bind:options="{{ question.options|safe }}"
			{% if question.parent_question != None %}
				v-show="answer['{{ question.parent_question.id }}'] == '{{ question.parent_answer }}'"
				class="callout-sup"
			{% endif %}
			{% if question.style == 'RANGE' %}
				r_max="{{ question.range_max }}"
				r_min="{{ question.range_min }}"
				r_step="{{ question.range_step }}"
			{% endif %}>
		</question>
	{% endfor %}
	<div class="">
		<form @submit="submit" action="#" method="POST">
			<button class="btn btn-primary btn-lg" type="submit">Selesai</button>
		</form>
	</div>
	<div class="text-white"><!-- JANLUP DI HIDDEN YAA -->
		<p>Answer: <% answer %></p>
	</div>
</div>
<!-- Vue App -->
<script>
	Vue.component('Question', {
		props: ['text', 'options', 'id', 'type', 'placeholder', 'helper_text', 'r_max','r_min','r_step'],
		delimiters: ["<%","%>"],
		template: `
			<div class="callout callout-pri">
				<h5 v-html="text"></h5>
				<select class="custom-select" v-if="type == 'SELECT'" v-model="answer" @change="changeAnswer">
					<option v-if="placeholder != ''" value="" disabled selected v-html="placeholder"></option>
					<option v-for="option in options" v-bind:value="option"><% option %></option>
				</select>
				<input class="form-control" v-if="type == 'TEXT'" v-model="answer" v-bind:placeholder="placeholder" @change="changeAnswer">
				<div class="custom-control custom-radio py-1" v-if="type == 'RADIO'" v-for="option in options" v-bind:value="option">
					<input class="custom-control-input my-auto" type="radio" v-model="answer" v-bind:value="option" v-bind:name="id" v-bind:id="option + '_' + id" @change="changeAnswer"><label class="custom-control-label" v-bind:for="option + '_' + id"><% option %></label>
				</div>
				<div v-if="type =='RANGE'">
					<div class="d-flex justify-content-between align-item-center">
						<a v-html="r_min"></a><input v-model="answer" class="custom-range mx-1" type="RANGE" v-bind:min="r_min" v-bind:max="r_max" v-bind:step="r_step" v-bind:id="'slider_'+ id" @change="changeAnswer"><a v-html="r_max"></a>
					</div>
					<p class="text-center"><span v-bind:id="'value_'+ id"></span></p>
				</div>
				<p class="text-secondary small" v-if="helper_text != '' && helper_text != null" v-html="helper_text"></p>
			</div>`,
		data() {
			return {
				answer: "",
			}
		},
		methods: {
			changeAnswer() {
				id = this.$props.id;
				answer = this.$data.answer;
				this.$root.setAnswer(id, answer);
			}
		}
	});
	const vueApp = new Vue({
		el: '#vapp',
		data: { 
			answer: {},
			startedAt: (new Date()).getTime(),
		},
		mounted() {
			this.startedAt = (new Date()).getTime();
		},
		delimiters: ["<%","%>"],
		computed: {
			duration() {
				return (new Date()).getTime() - this.startedAt;
			}
		},
		methods: {
			setAnswer(id, answer) {
				this.answer = { ...this.answer, [id]: answer };
			},
			submit: function(event) {
				event.preventDefault();
				axios.post("/save/", { 
					answer: this.$data.answer,
					duration: this.duration,
				}).then(window.location.href="/finish");
			}
		}
	});		
</script>
<!-- range script -->
{% for question in questions %}
	{% if question.style == 'RANGE' %}
	<script>
		var steps_{{ question.id }} =
			{{ question.options|safe }}
		;
		var slider = document.getElementById("slider_{{ question.id }}");
		var output = document.getElementById("value_{{ question.id }}");
		output.innerHTML = steps_{{ question.id }}[slider.value];

		slider.oninput = function() {
		  output.innerHTML = steps_{{ question.id }}[this.value];
		}
	</script>
	{% endif %}
{% endfor %}
{% endblock %}