.callout {
  padding: 10px;
  padding-left: 20px;
  margin: 10px 0;
  border: 2px solid lightgray;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: darkblue;
  background-color: white;
}
.callout h4, .callout h5 {
	margin-top: 0;
    margin-bottom: 5px;
 }
 .callout p:last-child {
    margin-bottom: 0;
}

.callout-pri {
  border-left-color: royalblue;
}

.callout-suc {
  border-left-color: mediumseagreen;
}

.callout-war {
  border-left-color: darkred;
}

.callout-sup {
  border-left-color: darkorange;
}