<!doctype html>
{% load static %}
<html>
    <head>
        <title>
			{% for info in infos %}
			{{ info.title }}
			{% endfor %}
		</title>
        <meta charset="utf-8" />
		<!-- mobile viewport from bootstrap -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- my css -->
		<link rel="stylesheet" href="{% static 'world.css' %}">
		<!-- Vue.js and supporting scripts -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="http://unpkg.com/portal-vue"></script>
    </head>
    <body style="background-color: aliceblue">
		<div class="container-sm">
		{% block content %}
        {% endblock %}
		</div>
	</body>
</html>